@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --Main: #16181E;
    --MainBG: #1E2027;

    --BorderColor: #363944;
    --BorderRadius: 8px;

    /* Only Header*/
    --HeaderBarTextColor: #E4E5EA;

    /* Only Nav*/
    --NavigationOnColor: #3E424C;
    --NavigationIconDefaultSvgColor: #8F94A8;
    
    --downloadColor: #75FF9C;
    --download: #2a3e3900;
    --downloadH: #1b2e2a;

    /* Old */

    --bg: #1b1f21;
    --color0: #b6c7d2;
    --color1: #ddf2ff;
    --color2: #2d3236;
    --color2H: #282d2f;
    --color2OffCheck: #89969e;
    --color3: #394045;
    --border: #535d64;
    --borderH: #64737c;
    --borderRadius: 10px;


    /* Style In MainContainer => --m */

    --mInColor: var(--color1);
    --mColor: #3a4145;
    --mColorH: #4e595f;
    --mBorder: var(--border);
    --mBorderH: var(--borderH);

    --mInColorActive: #ebfff5;
    --mColorActive: #3a453f;
    --mColorActiveH: #475850;
    --mBorderActive: #53645c;
    --mBorderActiveH: #698276;

    --mTrackColor: #d5d8dc;
    --mTrackButton: #4e5058;
    --mTrackBackground: #111214;
    --mTrackBorder: #394454;
}

* {
    user-select: none;
    font-family: 'Nunito Sans';
    font-style: normal;
    color: var(--HeaderBarTextColor);
    stroke: var(--HeaderBarTextColor);
}

.discord_svg__noStroke,
.discordLogin_svg__noStroke,
.discordAuth_svg__noStroke {
    stroke: none;
}

a {
    text-decoration: none;
}

a.active>button {
    background: var(--NavigationOnColor);
    border: none;

    &>svg {
        fill: white;
    }
}

body {
    display: flex;
    background: var(--Main);
    color: var(--color1);
    padding: 0;
    margin: 0;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
}

:disabled {
    cursor: not-allowed;
}